@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d0cece;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d4af37;
}
::selection {
  background: #d4af37;
  color: #fff;
}
